In [1]:
#importating Pandas and Path Library 
import pandas as pd
from pathlib import Path

In [20]:
# Reading the CSV file from its Path using Pandas
csvfile = Path("../budget_data.csv")
df = pd.read_csv(csvfile)

In [22]:
# printing the CSV data frame
df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [24]:
# geting a sence of the data to fimd out if there are null values
print(df.describe())
print(df.describe(exclude=[int]).T)

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06
     count unique       top freq
Date    86     86  Jan-2010    1

In [26]:
#calculating the total months and the total profit/loss
total_months=len(df.axes[0])
total = df["Profit/Losses"].sum()

In [28]:
#calculating the change in profit/loss by subtrationg the Profit/Loss of the previous month.
change =[]
max_date = ''
min_date = ''
maximum = 0
minimum = 0
for i in range(total_months-1):
    change.append((df.iloc[i+1,1] - df.iloc[i,1]))
change.insert(0,0)
df["changes in Profit/Losses"]=change
df

        Date  Profit/Losses  changes in Profit/Losses
0   Jan-2010         867884                         0
1   Feb-2010         984655                    116771
2   Mar-2010         322013                   -662642
3   Apr-2010         -69417                   -391430
4   May-2010         310503                    379920
..       ...            ...                       ...
81  Oct-2016         102685                   -665765
82  Nov-2016         795914                    693229
83  Dec-2016          60988                   -734926
84  Jan-2017         138230                     77242
85  Feb-2017         671099                    532869

[86 rows x 3 columns]

In [30]:
#Calculationaverage change
average_change=round((sum(change)/(total_months-1)),2)

In [32]:
#printing all values
print("Financial Analysis\n----------------------------")
print(f"Total Months: {total_months}")
print(f"Total: ${total}")
print(f"Average  Change: ${average_change}")
print(f"Greatest Increase in Profits: {df.iloc[(change.index(max(change))),0]} (${max(change)})")
print(f"Greatest Decrease in Profits: {df.iloc[(change.index(min(change))),0]} (${min(change)})")

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average  Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)